.main-footer {
    background: linear-gradient(135deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    color: var(--clr-white);
    padding: 0.8em 2.5em;
    text-align: center;
    box-shadow: 0 -2px 5px var(--clr-shadow-light);
    margin-top: auto;

    & .signature {
        margin-top: 2%;
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        padding: 6px 10px;
        border-radius: 5px;
        border: 1px solid lightblue;
        z-index: 999;
        width: max-content;
        margin: 10px auto;

        & .label {
            font-size: 0.75rem;
            letter-spacing: 1px;
        }

        & .author {
            font-size: 0.9rem;
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 1.5px;
            text-shadow:
                0 0 5px #7c3aed,
                0 0 10px rgba(124, 58, 237, 0.6);
            animation: neonPulse 1.5s infinite alternate;
        }
    }
}

@keyframes neonPulse {
    from {
        opacity: 0.4;
        text-shadow: 0 0 4px #7c3aed, 0 0 8px rgba(124, 58, 237, 0.5);
    }

    to {
        opacity: 1.0;
        text-shadow: 0 0 6px #7c3aed, 0 0 12px rgba(124, 58, 237, 0.8);
    }
}