.app-header {
    background: linear-gradient(135deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 0.8em 2.5em;

    & > section:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .app-nav {
        display: flex;
        gap: 20px;

        & > * {
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: color 0.3s, transform 0.3s;

            &:hover {
                color: var(--clr-primary-light);
                transform: scale(1.2);
            }

            &.active {
                color: var(--clr-primary);
                text-decoration: underline;
            }
        }
    }
}