.book-preview {
    text-align: center;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.book-preview h2 {
    font-size: 1em;
    color: var(--text-primary);
    margin: 0.5em 0;
}

.book-preview h4 {
    color: var(--text-secondary);
    margin: 0.3em 0;
    font-size: 0.9em;
    font-weight: normal;
}

.book-preview img {
    max-width: 100px;
    border-radius: 8px;
}
