.book-preview {
    text-align: center;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

    & .sale-tag {
        position: absolute;
        top: 10px;
        left: -35px;
        background-color: red;
        color: white;
        padding: 10px 40px;
        transform: rotate(-45deg);
        font-weight: bold;
        font-size: 0.5em;
        text-transform: uppercase;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 10;
    }

    & h2 {
        font-size: 1.2em;
        color: var(--text-primary);
        margin: 0.5em 0;
    }

    & h3 {
        font-size: 0.8em;
        color: var(--text-secondary);
        margin: 0.3em 0;
    }

    & h4 {
        color: var(--text-secondary);
        margin: 0.3em 0;
        font-size: 0.7em;
        font-weight: normal;

        &.expensive {
            color: red;
        }

        &.cheap {
            color: green;
        }
    }

    & p {
        margin: 0.2em 0;
        font-size: 0.85em;
        color: var(--text-secondary);
    }

    & img {
        width: 90%;
        border-radius: 8px;
    }
}
