* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    color: var(--text-primary);
    font-size: 1.2rem;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & > main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0 .5em;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
    max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}