/* flex helpers */

.flex {
  display: flex;

  &.flex-column {
      flex-direction: column;
  }

  &.justify-center {
      justify-content: center;
  }

  &.justify-between {
      justify-content: space-between;
  }

  &.align-center {
      align-items: center;
  }
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}